html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

/*
  Theme:
    Bluish: #20232A
    Dark Bluish: #0D1117
		Dark Gray: #181A1B
		Near Black: #0D0D0D
*/

/* general */
body {
	padding: 2%;
	background-color: #0D1117;
	font-family: 'Balsamiq Sans';
}

/* enclosed app */
#app {
  display: flex;
  flex-direction: column;
}

/* search section */
#query {
	padding-bottom: 2%;

  display: flex;
  justify-content: center;

	/*border-top: 4px dotted #20232A;*/
	border-bottom: 2px solid #20232A;
}

#query input {
	padding: 5px;
	background-color: #20232A;

	width: 250px;
	height: 30px;

	box-shadow: 0 0 3px #20232A, 0 0 10px black inset;
	border-radius: 10px;
	border: 2px solid #20232A;

	text-align: center;
}

#query input::placeholder {
	color: #0D0D0D;
}

#query input:focus {
	outline: none;
	box-shadow: 0 0 3px #20232A, 0 0 7px black inset;
}

/* #query input:focus::placeholder {
	color: #20232A;
} */

/* cards section */
#cards {
	padding: 1%;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	margin: 1%;
	
	width: 150px;
	height: 200px;

	color: darkgray;

	border: 1px solid crimson;
}

.card-name-div {
	margin: 2.5%;
	position: relative;

	height: 48px; /* force all titles to consume 2 lines of text */

	border: 1px solid white;
}

.card-name {
	/* prevents text-squishing on x-transform */
	min-width: 100%;
	
	/* allows single-line titles to be properly vertically-spaced too */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	/* centers text to middle of line */
	text-align: center;
}

.card-level-line {
	display: flex;
	justify-content: center;

	border: 1px solid blueviolet;
}

.card-level {
	border: 1px solid yellow;
}

.card-info {
	margin: 2.5%;

	display: flex;
	flex-direction: column;

	border: 1px solid crimson;
}